<% provide(:title, "About") %>


<h1>About</h1>

<ul>
	<li>
		Postgresql has been used since the beginning in 
		<code>DEV</code> and <code>TEST</code> environments as well
	</li>
	<li>
		the whole application has been made with 
		<%= link_to "Test Driven Development", "https://en.wikipedia.org/wiki/Test-driven_development" %>	
	</li>
</ul>